[submodule "extern/rapidfuzz-cpp"]
	path = extern/rapidfuzz-cpp
	url = ../../maxbachmann/rapidfuzz-cpp.git
[submodule "extern/taskflow"]
	path = extern/taskflow
	url = ../../taskflow/taskflow.git
[submodule "extern/optional-lite"]
	path = extern/optional-lite
	url = ../../martinmoene/optional-lite.git
