include README.md
include VERSION
include LICENSE

recursive-include src/rapidfuzz-cpp/src *.hpp *.txx
recursive-include src/rapidfuzz-cpp/extern/boost *
recursive-include src/rapidfuzz-cpp/extern/difflib *
include src/rapidfuzz-cpp/LICENSE
