include MANIFEST.in
include setup.py
include CHANGELOG.rst
include CMakeLists.txt
include README.md
include LICENSE
include pyproject.toml
include _custom_build/backend.py
include src/rapidfuzz/py.typed
recursive-include src/rapidfuzz *.pyi

recursive-include src/rapidfuzz CMakeLists.txt
recursive-include cmake *
recursive-include src/rapidfuzz *.hpp *.h *.cpp *.cxx *.pyx *.pxd
recursive-include tests *
recursive-include docs *
include src/rapidfuzz/__init__.pxd
include src/rapidfuzz/rapidfuzz.h

include extern/rapidfuzz-cpp/LICENSE
include extern/rapidfuzz-cpp/CMakeLists.txt
recursive-include extern/rapidfuzz-cpp/rapidfuzz *.hpp *.impl

include extern/taskflow/LICENSE
include extern/taskflow/CMakeLists.txt
include extern/taskflow/TaskflowConfig.cmake.in
include extern/taskflow/taskflow/algorithm/*
include extern/taskflow/taskflow/core/*
include extern/taskflow/taskflow/utility/*
include extern/taskflow/taskflow/taskflow.hpp
