[build-system]
requires = [
    "setuptools>=42",
    "scikit-build>=0.13.0",
    "ninja; platform_system!='Windows' and platform_machine not in 'armv7l|armv6l|arm64|aarch64'",
    "oldest-supported-numpy",
    "Cython==3.0.0a10",
    "rapidfuzz_capi==1.0.5",
    "typing_extensions"
]
build-backend = "setuptools.build_meta"
