name: Full Build

on:
  release:
    types:
      - published

  workflow_dispatch:

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest hypothesis pandas mypy Cython==3.0.10

      # The cythonized files allow installation from the sdist without cython
      - name: Generate cython
        run: |
          chmod +x ./src/rapidfuzz/generate.sh
          ./src/rapidfuzz/generate.sh

      - name: Build sdist
        run: |
          git apply ./tools/sdist.patch
          pip install build
          python -m build --sdist
          # test whether tarball contains all files required for compiling
          pip install dist/rapidfuzz-*.tar.gz -v

      #- name: Test type stubs
      #  # prevent import from rapidfuzz
      #  working-directory: .github
      #  run: |
      #    python -m mypy.stubtest rapidfuzz --ignore-missing-stub

      - name: Test with pytest and backtrace in case of SegFault
        run: |
          tools/seg_wrapper.sh pytest tests

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: dist/*.tar.gz

  build_wheels_macos:
    name: Build wheel on macos-13/${{matrix.arch}}/${{matrix.python_tag}}
    needs: [build_sdist]
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64, universal2]
        python_tag: [cp311-*"]
        exclude:
          # PyPy not supported on MacOS Arm
          - arch: arm64
            python_tag: "pp38-*"
          - arch: arm64
            python_tag: "pp39-*"
          - arch: universal2
            python_tag: "pp38-*"
          - arch: universal2
            python_tag: "pp39-*"
    env:
      CIBW_BUILD: ${{matrix.python_tag}}
      CIBW_ARCHS: ${{matrix.arch}}
      CIBW_TEST_SKIP: "{*-macosx_{arm64,universal2},pp*-macosx_*}"
      #CIBW_TEST_REQUIRES: pytest hypothesis pandas
      CIBW_TEST_REQUIRES: pytest hypothesis
      CIBW_TEST_COMMAND: pytest {package}/tests
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact-sdist
          path: dist

      - uses: actions/setup-python@v5

      - name: Copy wheel
        run: cp dist/*.tar.gz rapidfuzz.tar.gz

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        with:
          package-dir: rapidfuzz.tar.gz
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ github.job }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
