name: Build

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build_legacy:
    name: Build wheel for legacy Python versions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      CIBW_BUILD: cp27-* cp35-* pp27-*
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v1.12.0
        with:
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_windows_27_legacy:
    name: Build wheel on windows-latest/auto/2.7
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Build 64-bit wheel
        uses: pypa/cibuildwheel@v1.12.0
        with:
          output-dir: wheelhouse
        env:
          CIBW_BUILD: cp27-win_amd64
          DISTUTILS_USE_SDK: 1
          CIBW_BUILD_VERBOSITY: 3
          MSSdk: 1

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86

      - name: Build 32-bit wheel
        uses: pypa/cibuildwheel@v1.12.0
        with:
          output-dir: wheelhouse
        env:
          CIBW_BUILD: cp27-win32
          DISTUTILS_USE_SDK: 1
          CIBW_BUILD_VERBOSITY: 3
          MSSdk: 1

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_windows:
    name: Build wheel on ${{ matrix.os }}/auto/${{matrix.python_tag}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python_tag: ["cp37-*", "cp38-*", "cp39-*", "cp310-*"]
        os: [windows-latest]
    env:
      CIBW_BUILD: ${{matrix.python_tag}}
      CIBW_TEST_REQUIRES: pytest hypothesis pandas
      CIBW_TEST_COMMAND: pytest {package}/tests
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.1.1
        with:
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_macos:
    name: Build wheel on ${{ matrix.os }}/auto/${{matrix.python_tag}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python_tag: ["cp37-*", "cp38-*", "cp39-*"]
        os: [macos-latest]
    env:
      CIBW_BUILD: ${{matrix.python_tag}}
      CIBW_TEST_REQUIRES: pytest hypothesis pandas
      CIBW_TEST_COMMAND: pytest {package}/tests
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.1.1
        with:
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_apple_silicon:
    name: Build wheel on macos-latest/universal2+arm64/${{matrix.python_tag}}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python_tag: ["cp38-*", "cp39-*"]
    env:
      CIBW_BUILD: ${{matrix.python_tag}}
      CIBW_ARCHS_MACOS: "universal2 arm64"
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.1.1
        with:
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_manylinux:
    name: Build wheels on ubuntu-latest/${{matrix.arch}}/${{matrix.python_tag}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [auto, aarch64, ppc64le, s390x]
        python_tag: [ "cp36-*", "cp37-*", "cp38-*", "cp39-*", "cp310-*"]
    env:
      CIBW_ARCHS_LINUX: ${{matrix.arch}}
      CIBW_BUILD: ${{matrix.python_tag}}
      CIBW_TEST_SKIP: "*-manylinux_{aarch64,ppc64le,s390x}"
      CIBW_TEST_REQUIRES: pytest hypothesis pandas
      CIBW_TEST_COMMAND: pytest {package}/tests
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - uses: docker/setup-qemu-action@v1
        name: Set up QEMU

      - name: Build wheel
        uses: pypa/cibuildwheel@v2.1.1
        with:
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_pypy:
    name: Build wheel on ${{ matrix.os }}/auto/pp37-*
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # numpy ships no wheels for pypy on mac os
        os: [ubuntu-latest, windows-latest]
    env:
      CIBW_BUILD: "pp37-*"
      # activate tests when the fix for
      # https://foss.heptapod.net/pypy/pypy/-/issues/3413 is released
      CIBW_TEST_REQUIRES: pytest hypothesis pandas
      CIBW_TEST_COMMAND: pytest {package}/tests
      CIBW_BUILD_VERBOSITY: 3

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.1.1
        with:
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Build sdist
        run: |
          pip3 install build; python3 -m build --sdist
          # test whether tarball contains all files required for compiling
          pip3 install dist/rapidfuzz-*.tar.gz
          pip3 uninstall rapidfuzz --yes

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  deploy-wheels:
    if: github.event_name == 'release' && github.event.action == 'published'
    needs: [build_legacy, build_windows_27_legacy, build_wheels_windows, build_wheels_macos, build_wheels_apple_silicon, build_wheels_manylinux, build_wheels_pypy, build_sdist]
    name: deploy wheels to pypi
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
