name: Submodule Test

on:
  push:
    paths-ignore:
      - 'docs/**'

jobs:
  tests:
    name: "test if submodules are up to date"
    runs-on: ubuntu-latest

    steps:
      - uses: "actions/checkout@v5"
        with:
          submodules: 'true'
      # checkout never fetches tags for submodules so do it manually
      - name: fetch submodule tags
        run: |
          git submodule foreach --recursive 'git fetch --tags'

      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install GitPython

      - name: test submodule version
        run: |
          python tools/test_submodules.py
